/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: outside none none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------Start of styles---------*/
body {
	background-color: #FFF;
	font-family: "Roboto", sans-serif;
}
div {
	border: 1px solid chocolate;
}
a {
	text-decoration: none;
    color: inherit;
}

/*---------Navigation---------*/
.top-navigation {
	background-color: #FFF;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;
}
.top-navigation > .content {
	height: 4.375rem;
}
.content {
	width: 60%;
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}
.top-navigation .links {
	float: right;
	font-size: 1.04rem;
	margin-top: 1.7rem;
    color: #838994;
}
.top-navigation .links li.active {
	font-weight: 500;
    color: #3c4048;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 1.563rem;
}
.top-navigation .links li a:hover {
	color: #040404;
	cursor: pointer;
}
.top-navigation .logo {
	height: 4.375rem;
}
/*--------------------Main section---------------*/
.introduction {
	background-image: url("../images/first-background copy.jpg");
	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}
.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}
.introduction h1, .introduction h3 {
	color: #FFF;
	text-align: center;
	font-weight: 300;
}
.introduction h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}
.introduction .bttn {
	margin-top: 1.25rem;
	text-align: center;
}
.bigButton {
	width: 9.688rem;
	background-color: #F15A29;
	color: #FFF;
	padding: 1rem 1.5rem;
	border-color: #F15A29;
	border-radius: 4px;
	border-style: none;
	font-size: 1.125rem;
}
/*---------------second section---------------*/
.cases .content {
	margin-top: 7.25rem;
}
.cases h2 {
	font-size: 2.75rem;
	text-align: center;
    font-weight: 200;
}
.items {
    text-align: center;
}
.items li {
    display: inline-block;
    margin-top: 2.3rem;
    width: 33.33%;
    float: left;
}
.caption h3{
    font-weight: 400;
    font-size: 1.563rem;
    padding: 3rem 0;
}
