/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: outside none none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------Start of styles---------*/
body {
	background-color: gray;
	font-family: "Roboto", sans-serif;
}
div {
	border: 1px solid chocolate;
}
a {
	text-decoration: none;
}
/*---------Navigation---------*/
.top-navigation {
	background-color: #FFF;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;
}
.top-navigation > .content {
	height: 4.375rem;
	letter-spacing: 0.03em;
}
.content {
	width: 60%;
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}
.top-navigation .links {
	float: right;
	color: #838994;
	font-size: 1.03rem;
	margin-top: 1.7rem;
	-webkit-font-smoothing: antialiased;
}
.top-navigation .links > .active {
	color: #4C5058;
	font-weight: 600;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 1.563rem;
}

.top-navigation .links li:hover {
	color: #333333;
	cursor: pointer;
}
.top-navigation .logo {
	height: 4.375rem;
}
/*--------------------Main section---------------*/
.intro-section {
	height: 45.94rem;
	background-image: url("../images/first-background copy.jpg");
	text-align: center;
	
	
}
.intro-section h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}
.intro-section h1, .intro-section h3 {
	color: #FFF;
	
	font-weight: 300;
}
.intro-section h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}
.intro-section .bttn {
	margin-top: 1.25rem;
}
button {
	width: 9.688rem;
	background-color: #F15A29;
	color: #FFF;
	padding: 1rem 1.5rem;
	border-color: #F15A29;
	border-radius: 4px;
	border-style: none;
	font-size: 1.125rem;
}
